body{
  background: url("/login/imglogin/login3.jpg");
}
header{

}


.newAccBody {


  height: 700px;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  body .newAccBody .loginInput {
    display: block;
    top: 10%;
    right: 5%;
    width: 35%;
    height: 55%; 
  }



