html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header .navbar {
  background-color: white !important; }
  .header .navbar .header_content {
    background-color: white;
    height: 88px; }
    .header .navbar .header_content .header_logo {
      margin-right: 2em;
      padding-bottom: 0; }
      .header .navbar .header_content .header_logo img {
        flex-grow: 1;
        text-align: center;
        margin-right: 0;
        width: 183px; }
    .header .navbar .header_content .header_text .nav-item {
      margin-right: 2em; }

body {
  position: relative; }
  body .info {
    position: absolute;
    background: url("/userInfo/img/program.jpeg") no-repeat;
    background-size: cover;
    height: 840px;
    top: 97px;
    left: 0;
    width: 100%; }
    body .info .body_info {
      width: 50%;
      background-color: #f1f1f1;
      transform: translate(50%, 50%); }
      body .info .body_info h1 {
        text-align: center;
        margin-bottom: 1em; }
      body .info .body_info .info_item {
        margin-bottom: 1em; }
      body .info .body_info .info_button {
        margin-bottom: 1em; }
        body .info .body_info .info_button .btn {
          margin-left: 12%; }

.cost {
  height: 840px;
  background-color: #F8F9FA; }
  .cost .cost_content {
    margin: 3rem 8rem 0; }
    .cost .cost_content .cost_left {
      height: 500px; }
    .cost .cost_content .cost_right {
      height: 500px;
      margin-left: auto;
      align-items: flex-end;
      overflow: auto; }
      .cost .cost_content .cost_right .card {
        padding: 0;
        margin-bottom: 1rem; }
        .cost .cost_content .cost_right .card .row {
          margin: 0; }
          .cost .cost_content .cost_right .card .row .card-right p {
            font-size: 12px;
            font-weight: 700; }
          .cost .cost_content .cost_right .card .row .card-right span {
            font-size: 12px; }

.cost_1 {
  background: url("/userInfo/img/kh1.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat;
  padding: 0; }

.cost_2 {
  background: url("/userInfo/img/kh2.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat; }

.cost_3 {
  background: url("/userInfo/img/kh3.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat; }

.cost_4 {
  background: url("/userInfo/img/kh4.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat; }

.cost_5 {
  background: url("/userInfo/img/kh5.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat; }

.cost_6 {
  background: url("/userInfo/img/kh6.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat; }

.cost_7 {
  background: url("/userInfo/img/kh8.jpg");
  background-size: cover;
  height: 8rem;
  background-repeat: no-repeat; }

.header_text .line {
  font-weight: 700;
  font-size: 1.5em; }
  .header_text .line::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all 0.5s; }
  .header_text .line:hover::after {
    width: 100%; }
  .header_text .line:hover .nav-link {
    color: orange; }
  .header_text .line .nav-link {
    color: black;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
