<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="common::meta-header('Home',~{::main-css},~{::main-bootstrap},~{::owl-carousel},~{::main-js})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:fragment="main-bootstrap"
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script th:fragment="main-js" type="text/javascript" th:src="@{/home/js/main.js}" defer></script>
    <link th:fragment="main-css" th:href="@{/home/css/main.css}" rel="stylesheet">






    <title>home</title>
</head>

<body>
    <header>
        <nav class="myNavbar navbar navbar-expand-md navbar-light ">
            <div class="col-2 col-sm-2 d-md-none myNavbar__dropdown">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-8 col-6 myNavbar__left">

                <a class="navbar-brand">
                    <img src="/home/img/logo-coral.svg" alt="logo">
                </a>
                <div class="myNavbar__categories">
                    <i class="fa fa-th"></i>
                    <span>Categories</span>
                </div>
                <form class="myNavbar__form-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for Courses">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-xl-5 col-lg-3 col-md-4 col-sm-2 col-6 myNavbar__right">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active business">
                        <a class="nav-link" href="#">Udemy for Business </a>
                        <div class="overlay">
                            <p>Get your team access to Udemy’s top 2,500 courses anytime, anywhere.</p>
                            <a href="#">Try Udemy For Business</a>
                        </div>
                    </li>
                    <li class="nav-item instructor">
                        <a class="nav-link" href="#">Become an Instructor</a>
                        <div class="overlay">
                            <p>Get your team access to Udemy’s top 2,500 courses anytime, anywhere.</p>
                            <a href="#">Try Udemy For Business</a>
                        </div>
                    </li>

                    <li class="nav-item myNavbar__cart">
                        <a class="nav-link " href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <!-- <li id="user">
                        <button class="button">
                            <a href="" sec:authentication="principal.username"></a>
                        </button>

                    </li> -->
                    <li class="nav-item myNavbar__buttons" hidden>
                        <button class="button button--white"><a href="/login">Sign In</a></button>
                        <button class="button button--red "><a href="./new">Sign Up</a></button>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

</body>

</html>