.cost_1{
    background: url('/userInfo/img/kh1.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
    padding: 0;
}
.cost_2{
    background: url('/userInfo/img/kh2.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
}
.cost_3{
    background: url('/userInfo/img/kh3.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
}
.cost_4{
    background: url('/userInfo/img/kh4.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
}
.cost_5{
    background: url('/userInfo/img/kh5.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
}
.cost_6{
    background: url('/userInfo/img/kh6.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
}
.cost_7{
    background: url('/userInfo/img/kh8.jpg');
    background-size: cover;
    height: 8rem;
    background-repeat: no-repeat;
}