body{
position: relative;
    .info {
        position: absolute;
        background: url("/userInfo/img/program.jpeg") no-repeat;
        background-size: cover;
        height: 830px;
        top: 97px;
        left: 0;
        width: 100%;
        .body_info{
            width: 50%;
            background-color: #f1f1f1;
            transform: translate(50%, 50%);
            h1{
                text-align: center;
                margin-bottom: 1em;
            }
            .info_item{
                margin-bottom: 1em;
            }
            .info_button{
                margin-bottom: 1em;
                .btn{

                    margin-left: 12%;
                }
            }
        }
    }

}